body {
  margin: 0;
  padding: 0;
  background-image: url("../img/cold.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 150vh;
  color: black;
}

#head{
    text-align: center;
}
#section{
    display: grid;
    grid-template-columns: 2.25fr 0.75fr;

}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

#art1{
    display: grid;
    grid-template-rows: 3fr 0.5fr 1fr;
}

#today{
    background-color: rgba(174, 169, 169, 0.795);
    border-radius: 50px;
    padding: 50px;
    width: 200px;
}
#todaycont{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#art2{
    padding-top: 30px;
}
#weekbtn{
    border-radius: 5px; 
    background-color:rgba(174, 169, 169, 0.795);
    height: 25px;
    border: 0px;
    cursor: pointer;
}
#data{
    height: 100px;
    width: 100px;
}
#trow{
    padding-left: 50px;
    background-color: rgba(174, 169, 169, 0.795);
}

#btn-search{
    cursor: pointer;
}

.date{
    color: rgb(69, 20, 4);
}

.tdata{
    height: 150px;
    width: 300px;
}

@media (width:375px) {/*iphone se*/
    #section{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media (width:768px){
    #section{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

#map {
    height: 300px; /* Map height */
    width: 50%;
}

#error{
    width: 150px;
    height: 50px;
    padding-left: 550px;
    text-align: center;
    color: red;
}